h1 {
  padding-top: 30px;
  text-align: center;
}
.section0,
.section1,
.section2,
.section3 {
  font-family: "Lato", sans-serif;
  padding: 15px;
  color: white;
}
.containerbody {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  margin: 30px 20% 30px 20%;
  padding: 30px;
  border: 1px solid #ced4da;
  border-radius: 7px;
  color: antiquewhite;
}

.todaystemp {
  font-size: 40px;
}
.location {
  text-align: right;
  font-size: 18px;
  line-height: 10px;
}

#units .active {
  color: #f5be48;
  cursor: default;
  text-decoration: none;
}

#units .active:hover {
  text-decoration: none;
}

.categories {
  font-size: 16px;
  line-height: 8px;
}
#cityname {
  color: #f5be48;
  text-transform: capitalize;
  font-weight: bold;
}
#icon {
  width: 100px;
}

#tempheading {
  font-size: 17px;
  text-decoration: underline;
  text-decoration-color: #f5be48;
  color: white;
  text-align: left;
}
#description {
  text-transform: capitalize;
}

.temperature {
  color: #f5be48;
}

.dayoftheweek {
  color: #0dcaf0;
}

/* .section3 {
  border: 2px solid grey;
  border-radius: 8px;
} */

.designername {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#searchLocation {
  background-color: rgb(32, 38, 57);
  color: #f5be48;
  border: none;
}

#button,
#currentLocation {
  background-color: rgb(63, 76, 119);
  color: #f5be48;
  border: none;
}
